.body {
  width: 400px;
  margin: auto;
}

.title {
  margin: 30px;
  font-size: 2rem;
}

.image {
  height: 20px;
}

.newDivContainer {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
